<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399222461438-elfhircv7rar9h6tf4hah0treumbbl41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399222461438-elfhircv7rar9h6tf4hah0treumbbl41</string>
	<key>API_KEY</key>
	<string>AIzaSyBXSju2d3ihdxT5XH9D1IZQdDafPstcBAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>399222461438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smeynet.helpothers</string>
	<key>PROJECT_ID</key>
	<string>help-others-9ca37</string>
	<key>STORAGE_BUCKET</key>
	<string>help-others-9ca37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399222461438:ios:092048a7cf389b730fe6af</string>
</dict>
</plist>